*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
activations/
checkpoints/
_auto_*
ckpt/
log/
tb*/
img*/
local_output*
*.pth
*.pth.tar
*.ckpt
*.log
*.txt
*.h5


sae/eval_results/tmp_*/
sae/eval_results/**/*.png
sae/analysis/

wandb/
